@use "../colors.scss" as colors;
@use "../fonts.scss" as fonts;

// Future Funk
@mixin future-funk {
  .home-container,
  .exp-page-container,
  .projects-page-container,
  .contact-page-container {
    background-color: colors.$ff-bg-color;
    transition: background-color 200ms linear;
  }

  h1 {
    color: colors.$ff-primaryAccent;
    transition: color 200ms linear;

    span {
      color: colors.$ff-tertiaryAccent;
      transition: color 200ms linear;
    }
  }

  h2 {
    color: colors.$ff-secondaryAccent;
    transition: color 200ms linear;
  }

  h3 {
    color: colors.$ff-textMain;
    transition: color 200ms linear;
  }

  h4 {
    color: colors.$ff-tertiaryAccent;
    transition: color 200ms linear;
  }

  .details {
    ul {
      span {
        color: colors.$ff-tertiaryAccent;
        transition: color 200ms linear;
      }
    }
  }

  .skill-list {
    .skill {
      background-color: colors.$ff-theme-list-bg;
    }
  }

  .name-chars,
  .plain-title,
  .title {
    &:hover {
      color: colors.$ff-tertiaryAccent;
      transition: color 200ms linear;
    }
  }

  .navbar-container {
    background-color: colors.$ff-header-bg-color;
    transition: background-color 200ms linear;

    .logo-container {
      a {
        color: colors.$ff-tertiaryAccent;
        transition: color 200ms linear;

        &:hover {
          color: colors.$ff-secondaryAccent;
        }
      }
    }

    .nav-list {
      a {
        color: colors.$ff-textMain;
        transition: color 200ms linear;

        &:hover {
          color: colors.$ff-secondaryAccent;
        }
      }

      li:nth-child(1) {
        span {
          color: colors.$ff-secondaryAccent;
          transition: color 200ms linear;
        }
      }

      li:nth-child(2) {
        span {
          color: colors.$ff-tertiaryAccent;
          transition: color 200ms linear;
        }
      }

      li:nth-child(3) {
        span {
          color: colors.$ff-primaryAccent;
          transition: color 200ms linear;
        }
      }
    }

    .nav-list-container-mobile {
      background-color: colors.$ff-theme-list-bg;
      transition: background-color 200ms linear;
    }

    .nav-list-mobile {
      li {
        a {
          color: colors.$ff-textMain !important;

          span {
            color: colors.$ff-tertiaryAccent;
          }
        }
      }
    }

    .nav-toggle-container {
      .toggle-button-container {
        .toggle-button {
          .hamburger {
            background: colors.$ff-primaryAccent;

            &::before {
              background: colors.$ff-primaryAccent;
            }

            &::after {
              background: colors.$ff-primaryAccent;
            }
          }
        }
      }
    }
  }

  .theme-container {
    .theme-list-container {
      button {
        color: colors.$ff-textMain;
        transition: color 200ms linear;
      }

      li {
        span {
          color: colors.$ff-tertiaryAccent;
          transition: color 200ms linear;
        }
      }

      .theme-list {
        background-color: colors.$ff-theme-list-bg;
        transition: background-color 200ms linear;
        backdrop-filter: blur(15px);
      }
    }
  }

  .toggle-button-container {
    button {
      font-family: fonts.$MajorMono;
      color: colors.$ff-textMain;
      transition: color 200ms linear;

      &::after {
        background-color: colors.$ff-tertiaryAccent;
        transition: background-color 200ms linear;
      }

      &:hover {
        color: colors.$ff-tertiaryAccent;
        transition: color 200ms linear;
      }
    }
  }

  .contact-statement {
    p {
      color: colors.$ff-textMain;
      transition: color 200ms linear;
    }
  }

  .email-button {
    a {
      color: colors.$ff-secondaryAccent;
      border-color: colors.$ff-secondaryAccent !important;

      transition: border-color 200ms linear;
      transition: color 200ms linear;

      h3 {
        color: colors.$ff-secondaryAccent;
        transition: color 200ms linear;
      }

      &:hover {
        color: colors.$ff-tertiaryAccent;
        border-color: colors.$ff-tertiaryAccent !important;
        background-color: colors.$ff-theme-list-bg;
        transition: background-color 200ms linear;
        transition: border-color 200ms linear;

        h3 {
          color: colors.$ff-tertiaryAccent;
          transition: color 200ms linear;
        }
      }
    }
  }

  .footer-container {
    .social-links {
      &::after {
        background-color: colors.$ff-tertiaryAccent;
        transition: color 200ms linear;
      }

      .link {
        color: colors.$ff-textMain;
        transition: color 200ms linear;

        &:hover {
          color: colors.$ff-tertiaryAccent;
          transition: color 200ms linear;
        }
      }
    }
  }
}
