@use "./colors.scss" as colors;
@use "./fonts.scss" as fonts;
@import "./themes/future-funk.scss";
@import "./themes/dracula.scss";
@import "./themes/graen.scss";
@import "./themes/dmg.scss";
@import "./themes/ryujin.scss";

.app {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/*THEMES*/

// Future funk
.app[theme="future-funk"] {
  @include future-funk;
}

// Dracula
.app[theme="dracula"] {
  @include dracula;
}

// RyujinScales
.app[theme="ryujin"] {
  @include ryujin;
}

// Graen
.app[theme="graen"] {
  @include graen;
}

// DMG
.app[theme="dmg"] {
  @include dmg;
}
