$background: #999;
$text: rgb(237, 237, 237);
$black: rgb(14, 14, 14);
$white: #d4d5d5;
$white-dim: #c3cccf;
$white-dimmest: #bbc3c7;
$background: #0f1f2c;
$background-dark: #081016;
$shadow: #0c0c0c;
$teal-accent: #58e6d7;
$teal-accent-dim: #0d3744;
$orange-accent: #d44729;
$yellow-accent: #f4bc46;

// Future Funk
$ff-bg-color: #2e1a47;
$ff-textMain: #f7f2ea; // paragraphs etc.
$ff-textSecondary: #f7f2ea;
$ff-primaryAccent: #f04e98; // main accent color.
$ff-secondaryAccent: #a4dbe8; // secondary accent color.
$ff-tertiaryAccent: #f6eb61;

// Dracula
$dracula-bg-color: #282a36;
$dracula-textMain: #f2f2f2; // paragraphs etc.
$dracula-textSecondary: #f7f2ea;
$dracula-primaryAccent: #bd93f9; // main accent color.
$dracula-secondaryAccent: #50fa7b; // secondary accent color.
$dracula-tertiaryAccent: #f1fa8c;
