$background: #999;
$text: rgb(237, 237, 237);
$black: rgb(14, 14, 14);
$grey: rgb(14, 14, 14);
$white: #d4d5d5;
$white-dim: #c3cccf;
$white-dimmest: #bbc3c7;
$background: #0f1f2c;
$background-dark: #081016;
$teal-accent: #58e6d7;
$teal-accent-dim: #0d3744;
$orange-accent: #d44729;
$yellow-accent: #f4bc46;
$shadow: rgba(0, 0, 0, 0.348);

// Future Funk
$ff-bg-color: #2e1a47;
$ff-header-bg-color: rgb(46, 26, 71);
$ff-textMain: #f7f2ea; // paragraphs etc.
$ff-textSecondary: #f7f2ea;
$ff-primaryAccent: #f04e98; // main accent color.
$ff-secondaryAccent: #a4dbe8; // secondary accent color.
$ff-tertiaryAccent: #f6eb61;
$ff-theme-list-bg: rgba(240, 78, 151, 0.1);

// Dracula
$dracula-bg-color: #282a36;
$dracula-header-bg-color: rgb(40, 42, 54);
$dracula-textMain: #f2f2f2; // paragraphs etc.
$dracula-textSecondary: #f7f2ea;
$dracula-primaryAccent: #bd93f9; // main accent color.
$dracula-secondaryAccent: #50fa7b; // secondary accent color.
$dracula-tertiaryAccent: #ec75c4;
$dracula-theme-list-bg: rgba(189, 147, 249, 0.1);

// RyujinScales
$rs-bg-color: #081426;
$rs-header-bg-color: rgb(8, 20, 38);
$rs-textMain: #efeae9; // paragraphs etc.
$rs-textSecondary: #f7f2ea;
$rs-primaryAccent: #f17754; // main accent color.
$rs-secondaryAccent: #f19d86; // secondary accent color.
$rs-tertiaryAccent: #f17754;
$rs-theme-list-bg: rgba(241, 118, 84, 0.1);

// grape
$grape-bg-color: #221223;
$grape-header-bg-color: #271528e9;
$grape-textMain: #f8eee7; // paragraphs etc.
$grape-textSecondary: #f4decb;
$grape-primaryAccent: #d68cce; // main accent color.
$grape-secondaryAccent: #af3e4d; // secondary accent color.
$grape-tertiaryAccent: #765de7;
$grape-theme-list-bg: rgba(214, 140, 206, 0.1);

// froyo-dark
$fd-bg-color: #1b180f;
$fd-header-bg-color: #1f1c11d2;
$fd-textMain: #e1dacb; // paragraphs etc.
$fd-textSecondary: #f7f2ea;
$fd-primaryAccent: #ff7e73; // main accent color.
$fd-secondaryAccent: #08d9a3; // secondary accent color.
$fd-tertiaryAccent: #f5c370;
$fd-theme-list-bg: rgba(8, 217, 161, 0.1);
