@use "./colors.scss" as colors;
@use "./displaySizes.scss" as sizes;
@use "./fonts.scss" as fonts;

.contact-page-container {
  margin-top: 9rem;
  height: calc(100vh - 9rem);
  width: 100%;
  padding: 0px 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  @media (max-width: sizes.$small-tablet) {
    padding: 0px 2.5rem;
  }

  .contact-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;

    .contact-container {
      .title {
        h1 {
          font-family: fonts.$MajorMono;
          font-size: 6rem;
        }
      }

      .plain-title-hidden {
        display: none;
      }
    }
  }
}
