@use "./colors.scss" as colors;
@use "./displaySizes.scss" as sizes;
@use "./fonts.scss" as fonts;

.exp-page-container {
  height: 100vh;
  width: 100%;
  background: colors.$background;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .exp-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 0px 30px;

    @media screen and (min-width: sizes.$tablet) {
      width: 85%;
    }

    .title {
      width: 100%;
    }

    .work-exp {
      width: 100%;
    }

    .skills {
      width: 100%;
    }
  }
}
