@use './colors.scss' as colors;

.intro {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.name-and-title-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: colors.$text;

    .name {
        font-size: 3rem;
    }
    
    .job-title {
        font-size: 2.4rem;
    }
}