@use "./colors.scss" as colors;
@use "./displaySizes.scss" as sizes;
@use "./fonts.scss" as fonts;

.home-container {
  margin-top: 9rem;
  height: calc(100vh - 9rem);
  width: 100%;
  padding: 0px 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  @media (max-width: sizes.$small-tablet) {
    padding: 0px 2.5rem;
  }

  .home-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0rem 5rem;
    gap: 2rem;

    @media (max-width: sizes.$tablet) {
      padding: 0rem;
    }
  }
}

.greeting {
  width: 100%;
  text-align: left;
  cursor: default;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  h2 {
    height: inherit;
    font-size: clamp(12px, 2.2rem, 30px);
    font-family: fonts.$NotoSansMono;
    font-weight: 200;

    @media (max-width: sizes.$small-tablet) {
      font-size: clamp(8px, 1.8rem, 18px);
    }

    @media (max-width: sizes.$phone) {
      font-size: clamp(8px, 1.6rem, 18px);
    }
  }
}

.name {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 14px;
  margin-left: -8px;
  cursor: default;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  @media (max-width: sizes.$phone) {
    margin-left: -2px;
  }

  .firstName,
  .lastName {
    h1 {
      font-size: clamp(40px, 7.2rem, 90px);
      font-family: fonts.$MajorMono;
      font-weight: 400;
      transition: 0.5;

      span {
        color: colors.$yellow-accent;
        font-size: clamp(20px, 3rem, 80px);
      }

      @media (max-width: sizes.$tablet) {
        font-size: clamp(20px, 4rem, 60px);

        span {
          font-size: clamp(20px, 3rem, 40px);
        }
      }

      @media (max-width: sizes.$phone) {
        font-size: clamp(20px, 3.2rem, 50px);

        span {
          font-size: clamp(20px, 2rem, 40px);
        }
      }
    }

    .name-chars-hidden {
      display: none;
    }
  }
}

.about-me {
  width: 80%;
  align-self: flex-start;
  margin-top: 5px;
  cursor: default;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  h3 {
    font-size: clamp(16px, 2.2rem, 30px);
    font-family: fonts.$NotoSansMono;
    font-weight: 300;

    @media (max-width: sizes.$small-tablet) {
      font-size: clamp(12px, 1.8rem, 30px);
    }

    @media (max-width: sizes.$phone) {
      font-size: clamp(12px, 1.4rem, 30px);
    }
  }

  @media (max-width: sizes.$desktop) {
    margin-right: auto;
  }

  @media (max-width: sizes.$tablet) {
    width: 95%;
  }

  @media (max-width: sizes.$phone) {
    width: 100%;
  }
}

.resume-button {
  margin-top: 2rem;
  a {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    font-size: clamp(2.8rem, 3rem, 4rem);
    border: 1px solid;
    border-radius: 0.2rem;
    padding: 1rem 3.5rem;
    text-decoration: none;

    @media (max-width: sizes.$small-tablet) {
      font-size: clamp(2rem, 2.4rem, 2.8rem);
    }

    @media (max-width: sizes.$phone) {
      font-size: clamp(1.8rem, 2rem, 2.4rem);
    }

    h3 {
      font-family: fonts.$NotoSansMono;
      font-weight: 300;
      font-size: 2rem;

      @media (max-width: sizes.$small-tablet) {
        font-size: clamp(1.4rem, 1.8rem, 2.2rem);
      }

      @media (max-width: sizes.$phone) {
        font-size: clamp(1.2rem, 1.4rem, 2rem);
      }
    }

    &:hover {
      cursor: pointer;
    }
  }
}
