@use "./fonts.scss" as fonts;
@use "./colors.scss" as colors;
$bg-img: url(../assets/images/bg-large.jpeg);

* {
  box-sizing: border-box;
  margin: 0;
  font-size: 62.5%;
}

body {
  font-family: fonts.$Poppins;
  background-image: $bg-img;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: colors.$black;
  background-attachment: fixed;
}
