@use "./colors.scss" as colors;
@use "./fonts.scss" as fonts;
@use "./displaySizes.scss" as sizes;
$bg-img: url(../assets/images/bg-medium.jpeg);

.navbar-container {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  inset: 0;
  padding: 0px 30px;
  z-index: 2;

  .logo-container {
    font-family: fonts.$MajorMono;
    font-size: 3rem;
    color: colors.$orange-accent;
    z-index: 2;
  }

  .nav-list-container {
    height: 100%;

    @media (max-width: sizes.$small-tablet) {
      display: none;
    }

    .nav-list {
      height: inherit;
      color: colors.$teal-accent;
      padding: 0;
      display: flex;
      align-items: center;
      text-align: center;
      list-style: none;
      gap: 3rem;
      font-family: fonts.$MajorMono;
      font-size: 2.4rem;
      z-index: 2;

      li {
        span {
          font-family: fonts.$NotoSansMono;
          font-size: 1.4rem;
          color: colors.$orange-accent;
        }

        &:hover {
          cursor: pointer;
          color: colors.$yellow-accent;
        }
      }
    }
  }

  .nav-toggle-container {
    width: 50%;
    height: 100%;
    color: colors.$white;
    display: none;

    @media (max-width: sizes.$small-tablet) {
      display: flex;
      justify-content: flex-end;
    }

    .nav-list-container-mobile {
      background-color: colors.$teal-accent-dim;
      width: 100vw;
      height: 100vh;
      position: absolute;
      inset: 0px 0px 0px 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;

      .nav-list-mobile {
        color: colors.$yellow-accent;
        padding: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
        list-style: none;
        gap: 3.5rem;
        font-family: fonts.$MajorMono;
        font-size: 6rem;
        z-index: 2;

        li {
          display: flex;
          flex-direction: column;

          span {
            font-family: fonts.$NotoSansMono;
            font-size: 2.4rem;
            color: colors.$orange-accent;
          }

          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    .toggle-button-container {
      height: inherit;
      display: flex;
      z-index: 2;
      font-size: 4rem;

      .toggle-button {
        border: none;
        padding: 0;
        background: none;

        // Nav menu default styles
        .hamburger {
          display: block;
          position: relative;
        }

        .hamburger,
        .hamburger::before,
        .hamburger::after {
          width: 3.5rem;
          height: 2px;
          background: colors.$yellow-accent;
          transition: transform 200ms ease-in-out, opacity 200ms linear;
        }

        .hamburger::before,
        .hamburger::after {
          content: "";
          position: absolute;
          left: 0;
        }

        .hamburger::before {
          bottom: 10px;
        }
        .hamburger::after {
          top: 10px;
        }
      }
    }
  }
}

// Nav menu opened styles

.nav-open .hamburger {
  transform: rotate(45deg);
}

.nav-open .hamburger::before {
  opacity: 0;
}

.nav-open .hamburger::after {
  transform: rotate(90deg) translate(-10px);
}
