@use "./colors.scss" as colors;
@use "./displaySizes.scss" as sizes;
@use "./fonts.scss" as fonts;

.hero-container {
  height: 100vh;
  width: 100%;
  background: colors.$background;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0px 30px;

    @media screen and (min-width: sizes.$tablet) {
      width: 85%;
    }
  }
}

.greeting {
  width: 100%;
  text-align: left;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  h3 {
    height: inherit;
    color: colors.$teal-accent;
    font-size: clamp(20px, 1.6rem, 50px);
    font-family: fonts.$Josefin;
    font-weight: 200;

    @media (min-width: sizes.$tablet) {
      font-size: clamp(17px, 2.1vw, 40px);
    }
  }
}

.name {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 8px;
  cursor: default;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .firstName,
  .lastName {
    h1 {
      color: colors.$white;
      font-size: clamp(50px, 7rem, 80px);
      letter-spacing: 0.4rem;
      font-family: "Josefin Sans", sans-serif;
      font-weight: 700;

      span {
        color: colors.$yellow-accent;
      }

      @media (max-width: sizes.$tablet) {
        font-size: clamp(20px, 3rem, 40px);
      }
    }

    .name-chars {
      &:hover {
        color: colors.$teal-accent;
      }
    }
  }
}

.profession {
  width: 100%;
  display: none;
  cursor: default;

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  h2 {
    color: colors.$white-dim;
    font-size: clamp(40px, 6.5rem, 70px);
    font-family: fonts.$Josefin;
    font-weight: 700;

    span {
      color: colors.$yellow-accent;
    }

    &:hover {
      color: colors.$teal-accent;
    }

    @media (max-width: sizes.$tablet) {
      font-size: clamp(20px, 2.6rem, 30px);
    }
  }
}

.about-me {
  width: 60%;
  align-self: flex-start;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  h3 {
    color: colors.$white-dimmest;
    font-size: clamp(20px, 2.6rem, 30px);
    font-family: fonts.$Josefin;
    font-weight: 300;
    letter-spacing: 1px;

    @media (max-width: sizes.$tablet) {
      font-size: clamp(20px, 2.5vw, 65px);
    }

    @media (max-width: sizes.$phone) {
      font-size: clamp(12px, 1.8rem, 30px);
    }
  }

  @media (max-width: sizes.$desktop) {
    margin-right: auto;
  }

  @media (max-width: sizes.$tablet) {
    width: 80%;
  }

  @media (max-width: sizes.$phone) {
    width: 100%;
  }
}
