@use './colors.scss' as colors;

.project {
    color: colors.$text;
    height: 200px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightcoral;
    margin: 0 auto 2rem auto;
    border: 1px solid lightcoral;

    .title-and-description-container {
        width: 55ch;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem;
    }

    .title {
        font-size: 1.6rem;
        margin-bottom: 1rem;
    }

    .description {
        font-size: 1.2rem;
        display: none;

        &:hover {
            cursor: pointer;
            display: block;
        }
    }
}