@use "./colors.scss" as colors;
@use "./displaySizes.scss" as sizes;
@use "./fonts.scss" as fonts;

.exp-page-container {
  height: 100vh;
  width: 100%;
  background: colors.$background;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .exp-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 0px 30px;

    @media screen and (min-width: sizes.$tablet) {
      width: 85%;
    }

    .work-container,
    .skills-container {
      .title {
        h1 {
          font-family: fonts.$MajorMono;
          font-size: 6rem;
          color: colors.$teal-accent;
        }
      }

      .plain-title {
        &:hover {
          color: colors.$orange-accent;
        }
      }

      .plain-title-hidden {
        display: none;
      }
    }
  }
}
