@use "./colors.scss" as colors;
@use "./displaySizes.scss" as sizes;
@use "./fonts.scss" as fonts;

.exp-content {
  height: 100%;
  width: 100%;
  max-width: 135rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 4rem;
  z-index: 1;
  padding: 5rem;

  @media (min-width: sizes.$tablet) {
    padding: 5rem 8rem;
  }

  @media (max-width: sizes.$small-tablet) {
    padding: 5rem 4rem;
  }

  @media (orientation: landscape) {
    padding: 5rem 10rem;
  }

  @media (orientation: landscape) and (min-width: sizes.$desktop-lg) {
    justify-content: center;
  }

  .work-container,
  .skills-container {
    .title {
      margin-bottom: 1.6rem;

      h1 {
        font-family: fonts.$MajorMono;
        font-size: 4rem;

        @media (max-width: sizes.$tablet) {
          font-size: clamp(20px, 3rem, 60px);
        }

        @media (max-width: sizes.$phone) {
          font-size: clamp(16px, 2.4rem, 50px);
        }
      }
    }

    .plain-title-hidden {
      display: none;
    }

    &:hover {
      cursor: default;
    }

    .skills {
      margin-bottom: 5rem;
    }
  }

  .work-container {
    .work {
      .job {
        .label {
          font-size: 2.2rem;
          font-family: fonts.$NotoSansMono;
          margin-right: 1rem;

          @media (max-width: sizes.$small-tablet) {
            font-size: clamp(12px, 1.6rem, 30px);
          }

          @media (max-width: sizes.$phone) {
            font-size: clamp(10px, 1.2rem, 30px);
          }
        }

        .info {
          font-size: 2.4rem;
          font-weight: 400;
          font-family: fonts.$NotoSansMono;

          @media (max-width: sizes.$tablet) {
            font-size: clamp(12px, 1.8rem, 30px);
          }

          @media (max-width: sizes.$phone) {
            font-size: clamp(12px, 1.4rem, 30px);
          }
        }

        .position-and-company {
          .position,
          .company {
            display: flex;
            align-items: flex-end;
          }
        }

        .dates {
          margin-bottom: 1rem;

          .start_date,
          .end_date {
            display: flex;
            align-items: flex-end;
          }

          font-size: 2.2rem;
          font-family: fonts.$NotoSansMono;
          font-weight: 400;
        }

        .details {
          ul {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding: 0;
            text-align: left;
            position: relative;
            list-style: none;

            span {
              font-size: 2.4rem;

              @media (max-width: sizes.$tablet) {
                font-size: clamp(12px, 1.8rem, 30px);
              }

              @media (max-width: sizes.$phone) {
                font-size: clamp(12px, 1.4rem, 30px);
              }
            }
          }
        }
      }
    }
  }

  .skills-container {
    .skills {
      .skill-list {
        display: flex;
        flex-wrap: wrap;
        gap: 1.4rem;
        padding: 0;
        list-style: none;

        @media (max-width: sizes.$phone) {
          padding: 0 3rem 0 0;
        }
      }

      .skill {
        font-size: 2.4rem;
        font-weight: 400;
        font-family: fonts.$NotoSansMono;
        padding: 1rem 1.6rem;
        border-radius: 0.4rem;

        @media (max-width: sizes.$tablet) {
          font-size: clamp(12px, 1.8rem, 30px);
        }

        @media (max-width: sizes.$phone) {
          font-size: clamp(12px, 1.2rem, 30px);
        }
      }
    }
  }
}
